*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
    color: var(--stone-600);
}

@media (min-width:768px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
        background-color: var(--stone-100);
    }
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
    
    
}

ol{
    list-style: none;
    counter-reset: item;
    padding: 0;
}

ol li{
    counter-increment: item;
    display: flex;
}

ol li::before{
    content: counter(item) ".";
    font-weight: bold;
    color: var(--rose-800);
    margin:0 2rem 0 1rem;  
}

ul li,
ol li{
    line-height: 1.5;
    margin-bottom: 1rem;
}

ul li{
    position: relative;
    padding-left: 4rem;
}

ul li::before{
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--rose-800);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 1rem;
}

li span{
    font-weight: bold;
    
}

h2{
    color: var(--brown);
    font-family: "Young Serif", serif;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.recipe{
    width: 100%;
    max-width: 65rem;
    background-color: var(--white);
    border-radius: 1rem;
}

@media (min-width:768px) {
    .recipe{
        padding: 3rem;
    }
}

@media (min-width:768px) {
    .recipe__image{
        border-radius: 1rem;
        margin-bottom: 3rem;
    }
}

.recipe__content{
    padding: 3rem;
}

@media (min-width:768px) {
    .recipe__content{
        padding: 0;
    }
}

.recipe__title{
    font-family: "Young Serif", serif;
    color: var(--stone-900);
    margin-bottom: 2rem;
       
} 

.recipe__description{
    margin-bottom: 2rem;
}

.recipe__preparation{
    border-radius: 1rem;
    background-color: var(--Rose-50);
    padding: 2rem 3rem;
}

.recipe__times-preparation li::before{
    margin-left: 1rem;
}

.recipe__preparation h3{
    margin-bottom: 2rem;
    color: var(--rose-800);
}

.recipe__ingredients{
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--stone-150);
}

.recipe__instructions{
    margin-top: 2rem;
    border-bottom: 1px solid var(--stone-150);
    padding-bottom: 2rem;
}

.recipe__nutrition{
    margin-top: 2rem;
}

.recipe__nutrition-description{
    margin-bottom: 2rem;
}

/* Tabla */

.table-values{
    width: 100%;
    border-collapse: collapse;
}

.table-values td{
    border-bottom: 1px solid var(--stone-150);
    color: var(--stone-600);
    font-weight: 400;
}

.table-values td{
    padding: 1rem 0 1.5rem 3rem;
    text-align: left;
}

td:last-of-type{
    border-bottom: 0;
}

.table-values__value{
    font-weight: 700;
    color: var(--brown);
}