*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: hsl(185, 75%, 39%);
    --navy: hsl(229, 23%, 23%);
    --gray-500: hsl(227, 10%, 46%);
    --gray-100: hsl(225, 10%, 92%);
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--blue);
    font-family: "Kumbh Sans", sans-serif;
    /* position: relative; */
    margin: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

img{
    max-width: 100%;
}

/* body::after,
body::before{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
} */

/* body::before{
    content: '';
    width: 60rem;
    height: 60rem;
    top: -450px;
    left: -450px;
    background-image: url(images/bg-pattern-top.svg);
}

body::after{
    content:"";
    width: 70rem;
    height: 70rem;
    background-image: url(images/bg-pattern-bottom.svg);

    bottom: -500px;
    right: -500px;
} */

.container{
    width: 90%;
    max-width: 40rem;
    border-radius: 1rem;
    background-color: #fff;
}

.container-img img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    
}

.container-content{
    padding-bottom: 2rem;
    text-align: center;
}

.profile-img{
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -7rem;
    margin-bottom: 3rem;
    border: 4px solid #fff;
}

.name{
    color: var(--navy);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.name span,
.city{
    color: var(--gray-500);
}

.city{
    font-size: 1.6rem;
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: 2rem;
}

.stadistics-grid{
    margin-top: 3rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.number{
    font-size: 1.8rem;
    color: var(--navy);
    font-weight: bold;
    margin-bottom: .5rem;
}

.description{
    color: var(--gray-500);
}

