@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background-color: var(--Grey-900);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

@media (min-width: 425px){
    body{
        padding: 0;
    }
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

li{
    list-style: none;
}

img{
    display: block;
    object-fit: cover;
}

.container{
    background-color: var(--Grey-800);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--white);
    width: 90%;
}

@media (min-width: 375px){
    .container{
        width: 35rem;
        padding: 3rem;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1.8rem;
}

.name{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.location{
    font-size: 1.6rem;
    color: var(--green);
    margin-bottom: 3.5rem;
}

.description{
    font-size: 1.4rem;
}

.links{
    margin-top: 2rem;
}

.link{
    display: block;
    width: 100%;
    background-color: var(--Grey-700);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
}

.link:last-of-type{
    margin-bottom: 0;
}

.link:hover{
    background-color: var(--green);
    color: var(--Grey-900);
}


