*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

:root{
    --green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    --font-monserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", serif;
}

body{
    background-color: var(--Cream);
    font-size: 1.6rem;
    font-family: var(--font-monserrat);
    /* height: 100vh; */
    margin: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px){
    body{
        height: 100vh;
        margin: 0;
    }
}

.container{  
    border-radius: 1rem;
    width: 90%;
    max-width: 57rem;
    /* background-image: linear-gradient(to top, transparent 50%, transparent 50%, transparent 100%), url(images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 40rem; */
}

@media (min-width: 768px){
    .container{
        background-image: linear-gradient(to right, transparent 50%, transparent 50%, transparent 100%), url(images/image-product-desktop.jpg);
        background-size: contain;
    }
}

.container-grid{
    display: grid;
    /* grid-template-rows: repeat(2,40rem); */
    grid-template-rows: repeat(2, 40rem);
}

.container-grid::before {
  content: "";
  display: block;
  background-image: url(images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 40rem;
  background-position: center;
}

@media (min-width:768px){
    .container-grid{
        grid-template-rows: none;
        grid-template-columns: repeat(2,1fr);
    }
}

.content{
    background-color: var(--White);
    padding: 2rem 4rem;
    grid-row: 2/3;
}

@media (min-width: 768px){
    .content{
        grid-column: 2/3;
    }
}

.item{
    text-transform: uppercase;
    color: var(--Grey);
    margin-bottom: 1rem;
}

.name-item{
    font-size: var(--font-fraunces);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.description{
    color: var(--Grey);
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.prices{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.price{
    margin-right: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--green-500);
}

.price-discount{
    color: var(--Grey);
    font-size: 1.4rem;
    text-decoration:line-through;
}

.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--green-500);
    color: var(--White);
    padding: 1.5rem;
    border-radius: 1rem;
}