*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --font-monserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", serif;
}

body{
    background-color: var(--cream);
    color: var(--grey);
    font-family:var(--font-monserrat);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img,
svg,
picture{
    max-width: 100%;
    display: block;
}

.product-card{
    background-color: var(--white);
    margin: 1rem;
    max-width: 575px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: .75rem;
    overflow: hidden;

    @media (max-width:540px) {
        grid-template-columns: 1fr;
    }

    & img{
        width: 100%;
    }

    & h1{
        color: var(--black);
        margin: 1rem 0 1.5rem;
        font-family: var(--font-fraunces);
        line-height: 1;
    }

    & button{
        cursor: pointer;
        background-color: var(--green-500);
        padding: .75rem;
        color: var(--cream);
        width: 100%;
        font-family: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border: 0;
        transition: background-color .3s;

        &:hover{
            background-color: var(--green-700);
        }

        & img{
            max-width: 15px;
        }
    }

    & .right{
        padding: 2rem;
    }

    & .perfume{
        letter-spacing: 2px;
        font-weight: 500;
    }

    & .description{
        margin-bottom: 1.5rem;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
    }

    & .pricing{
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & .pricing .new-price{
        color: var(--green-500);
        font-family: var(--font-fraunces);
        font-size: 2rem;
        font-weight: 700;
    }

    & .pricing .old-price{
        color: var(--grey);
        font-family: var(--font-monserrat);
        font-size: .75rem;
        font-weight: 700;
        text-decoration: line-through;
    }
    
}