/* ## Colors

- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    /* Para centrar el contenedor principal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 600px;
    background-color: hsl(0, 0%, 12%);
    padding: 1rem;
    border-radius: 0.4rem;
}

@media (min-width: 600px){
    .container-main{
        padding: 1.5rem;
        width: 360px;
        
    }
}

header{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 2rem;
}

h1{
    font-size: 20px;
}

h3{
    color: hsl(75, 94%, 57%);
    font-size: 18px;
    margin-bottom: 0.3rem;
}

p{
    color: hsl(0, 0%, 20%);
}

.social-links{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.3s;
    border-radius: 0.4rem;
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}